<!DOCTYPE html>
<html>
    <script type="text/javascript">
        // Set the theme
        const theme = localStorage.getItem('theme') ?? (window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light';
        document.documentElement.setAttribute('theme', theme);

        function toggleTheme() {
            const currentTheme = document.documentElement.getAttribute('theme');
            const theme = (currentTheme == 'dark') ? 'light' : 'dark';
            localStorage.setItem('theme', theme);
            document.documentElement.setAttribute('theme', theme);
        }
    </script>
    
    <head>
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="lightSwitch" onclick="toggleTheme()">
            <span class="marker"></span>
            <span class="material-icons">light_mode</span>
            <span class="material-icons">dark_mode</span>
        </div>
        <div id="pageBorder">
            <div id="main">
                <a id="title" href="index.html">{{ overallTitle }}</a>
                <div id="about-me">
                    THIS IS WHERE THE ABOUT ME SECTION WILL GO!
                </div>
                <div id="pageList">
                    {{#each pages }}
                    {{#if pageTitle }}
                    {{#nequiv file "index.html" }}
                    <a href="{{file}}" {{#equiv pageTitle @root.pageTitle }}selected{{/equiv }}>{{#if this.displayName }}{{ this.displayName }}{{/if}}{{#unless this.displayName}}{{ this.pageTitle }}{{/unless}}</a>
                    {{/nequiv }}
                    {{/if }}
                    {{/each }}
                </div>
                <div id="contact-info">
                    {{#each contactInformation }}
                    <a class="contact-item link" href="{{this.link}}">
                        <i class="fa-brands fa-{{icon}}"></i>
                        <span class="link-text">{{ this.text }}</span>
                    </a>
                    {{/each }}
                </div>
                
                <div id="pageContent">
                    {{> pageContent }}
                </div>
            </div>
            
        </div>
        
    </body>
</html>