@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Fonts for consideration */
/* "Poiret One" */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* "Anaheim" */
@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Theme management */
:root {
    --background: gainsboro;
    --text: rgb(36, 36, 36);

    background-color: var(--background);
    color: var(--text);
    font-family: "Anaheim", Verdana, Geneva, Tahoma, sans-serif;
}
:root[theme='dark'] {
    --background: rgb(36, 36, 36);
    --text: gainsboro;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    --pad: 2.5em;
    padding: var(--pad);
    overflow: hidden;
}

#pageBorder {
    border: 1px solid;
    display: grid;
    /* Padding is also border width in this case */
    padding: 0.3em;
    /* TODO: more interesting background color */
    background-color: currentColor; 
    overflow: hidden;
    > * {
        background-color: var(--background);
    }
}
#main {
    display: grid;
    padding: 1em; 
    grid-template-columns: minmax(auto, 20vw) 1fr;
    grid-template-rows: auto  auto 1fr auto;
    grid-template-areas: "header content" "about content" "list content" "contact content";
    gap: 1em;
    height: 100%;
    overflow: hidden;
    /* > * {
        border: 1px dotted red;
    } */
}

#contact-info {
    grid-area: contact;
    display: grid;
}

#pageContent {
    grid-area: content;
    max-height: 100%;
    overflow-y: auto;
    padding-right: 0.5em;
    margin-right: -0.5em;
    scrollbar-width: thin;
    scrollbar-color: rgba(from currentColor r g b / 0.8) rgba(from currentColor r g b / 0.2);
}
#title {
    font-size: xx-large;
    text-decoration: none;
}
#pageList {
    --indicator-scale: 0.5em;
    grid-area: list;
    font-size: x-large;
    > * {
        display: block;
        position: relative;
        padding-left: calc(var(--indicator-scale)/2);
        transition-property: padding-left;
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
        text-decoration: none;
        &[selected] {
            padding-left: calc(var(--indicator-scale)*2);
            &::before {
                content: '';
                height: var(--indicator-scale);
                aspect-ratio: 1;
                background-color: currentColor;
                position: absolute;
                left: calc(var(--indicator-scale)/2);
                top: calc(50% - calc(var(--indicator-scale)/2));
            }
        }
        &:hover {
            padding-left: calc(var(--indicator-scale)*2.5);
        }
    }
}

#project-display, #publication-display {
    display: grid;
    gap: 1em;
    padding: 1em;
}

#project-display {
    grid-auto-flow: columns;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
}

.project-border, .publication-border {
    display: grid;
    background: linear-gradient(
        135deg,
        currentColor var(--border-length),
        transparent var(--border-length),
        transparent calc(100% - var(--border-length)),
        currentColor calc(100% - var(--border-length))
    );
    /* Border-styling arguments */
    --border-length: 2em;
    padding: 0.25em; /* Border thickness */
}

.project, .publication {
    border: var(--border-width) solid transparent;
    background: var(--background);
    background-clip: padding-box;
    > a {
        display: flex;
        text-decoration: none;
        align-items: center;
    }
}
.project, .publication > summary {
    display: grid;
    padding: 0.5em;
}

.project {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: "title link" "blurb blurb";
    column-gap: 1em;
    a.project-link {
        grid-area: link;
    }
    .title {
        grid-area: title;
        font-size: x-large;
        font-weight: bold;
    }
    .description {
        grid-area: blurb;
    }
}

.publication {
    > summary, .abstract {
        margin-left: 1em;
    }
    > summary {
        position: relative;        
        &::marker {
            content: "";
        }
        .indicator {
            cursor: pointer;
            position: absolute;
            right: calc(100% - var(--ind-scale) / 3);
            height: 1.25em;
            width: var(--ind-scale);
            top: 0.5em; /* Same as the summary padding! */
            display: inline-block;
            --ind-thickness: 0.15em;
            --ind-scale: 0.75em;
            &::before {
                content: "";
                display: inline-block;
                width: var(--ind-scale);
                height: var(--ind-thickness);
                top: 50%;
                left: 50%;
                background-color: currentColor;
                position: absolute;
                transform: translate(-50%, -50%);
            }
            &::after {
                content: "";
                height: var(--ind-scale);
                top: 50%;
                left: 50%;
                width: var(--ind-thickness);
                position: absolute;
                transform: translate(-50%, -50%);
                background-color: currentColor;
                transition: height 0.5s;
            }
        }
    }
    .title {
        font-weight: bold;
    }
    .info {
        display: flex;
        justify-content: space-between;
        .link {
            display: flex;
            .material-icons {
                font-size: larger;
            }
        }
    }
    .author-list {
        font-size: smaller;
        > :not(:last-child)::after {
            content: ",";
        }
        > :last-child:not(:first-child)::before {
            content: 'and ';
        }
        .me {
            font-weight: bold;
        }
    }
    .publisher {
        font-style: italic;
    }
    .year {
        font-weight: bold;
    }
    &[open] .indicator::after {
        height: 0%;
    }
}

#about-me {
    font-size: smaller;
}

#lightSwitch {
    --scale: 16px;
    background-color: hsla(from var(--text) h s l / 0.1);
    color: var(--background);
    position: absolute;
    right: var(--pad);
    top: calc(var(--pad) - 3px);
    transform: translateY(-100%);
    display: flex;
    /* border-radius: var(--scale); */
    padding: calc(var(--scale)*0.3);
    width: calc(var(--scale)*3.5);
    justify-content: space-between;
    > .material-icons {
        font-size: var(--scale);
        user-select: none;
    }
    > .marker {
        /* border: 2px solid red; */
        height: 100%;
        background-color: hsla(from var(--text) h s l / 0.6);
        /* display: inline-block; */
        position: absolute;
        aspect-ratio: 1;
        border-radius: inherit;
        left: 0;
        top: 0;
        z-index: -1;
        float: left;
        transition-property: left, background-color, transform;
        transition-duration: 0.5s;
        transform: translate(0%);
    }
}

.link {
    text-decoration: none;
    .link-text {
        text-decoration-line: underline;
        &:hover {
            text-decoration-style: double;
        }
    }
}

/* Styling the light switch based on the mode */
:root[theme='dark'] {
    #lightSwitch > .marker {
        right: 0 !important;
        left: 100%;
        transform: translate(-100%);
    }
}

/* Some broad applications */
/* TODO: style different link statuses? (e.g., visited) */
a {
    color: var(--text);
}
